<!-- views/partials/header.ejs -->

<meta charset="UTF-8">
<title>Eniro Test</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<style>
    body    { padding-top:50px; }
</style>
<link rel="shortcut icon" href="/images/favicon.ico">